
config MTK_MPU6050G
	bool "MPU6050 gsensor support"
	default n
	help
		This configuration is for enable or disable MPU6050 accelerometer sensor support.
		Say Y here if you want to support this sensor.
		Say N if you not support it.
		If no sure, say N.
